<div class="container">
  <form [formGroup]="signInForm" (ngSubmit)="onFormSumbit()">
    <div class="form-group">
      <label for="uname">UserName:</label>
      <input class="form-control" formControlName="uname">
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input class="form-control" formControlName="email" type="email">
      </div>
      <div class="form-group">
          <label for="email">Contact Number:</label>
          <input class="form-control" formControlName="contact">
        </div>
        <div formGroupName="addressGroup">
        <div class="form-group">
            <label for="email">Address:</label>
            <input class="form-control" formControlName="address">
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <input class="form-control" formControlName="city">
          </div>
          <div class="form-group">
              <label for="city">State</label>
              <input class="form-control" formControlName="state">
            </div>
          </div>
          <div class="form-group">
              <label for="gender">gender:</label><br/>
              <div class="radio">
                  <label><input type="radio" name="gender" value="male">Male</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="gender" value="female">Female</label>
              </div>
            </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary">
          </div>
  </form>
</div>
