<!-- 
<div class="container">
  <table class="table-bordered">
    <thead>
      <tr>
        <th>Show ID</th>
        <th>No Of Seats</th>
        <th>Show Time</th>
        <th>Movie Name</th>
        <th>Image Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let show of showArray">
        <td>{{show.showId}}</td>
        <td>{{show.noOfSeats}}</td>
        <td>{{show.showTime}}</td>
        <td>{{show.movieName}}</td>
        <td>{{show.imageName}}</td>
      </tr>
    </tbody>
  </table>
</div> -->